{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome - Sky Health Check</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>

  <!-- Include the navbar -->
  {% include 'includes/navbar.html' %}

  

  <!-- Main content -->
  <div class="content">
    <a href="{% url 'admin:index' %}" class="welcome-button">Admin Sign in</a>
    <a href="{% url 'staff-register' %}" class="welcome-button">Staff Sign in</a>
  </div>

</body>
</html>
</html>
